/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 0px 0px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 225px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 22px 14px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0px;
    right: 0px;
}

#content.active {
    width: 100%;
}

#sidebarCollapse {
    background-color: #6d7fcc;
    border-color: #6d7fcc;
    color: white;
}

#sidebarCollapse:hover,
#sidebarCollapse:focus {
    background-color: white;
    border-color: black;
    color: #6d7fcc;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -220px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 220px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

/* ---------------------------------------------------
    STEP CONTROLLER
----------------------------------------------------- */

#step_controller {
    top: -90px;
    left: 100px;
    position: relative;
}

#start_end {
    position: absolute;
    top: 110px;
    left: 20px;
}

#forward_backward {
    position: absolute;
    top: 110px;
    left: 350px;
    width: 1000px;
}

/* ---------------------------------------------------
    GRAPH AREA
----------------------------------------------------- */

#graph_area {
    position: absolute;
    top: 77px;
    left: 56px;
}

#cy {
    width: 900px;
    height: 600px;
    position: relative;
    top: 0px;
    left: 75px;

    border: 1px solid steelblue;

    z-index: 1;
}

/* ---------------------------------------------------
    PANEL AREA
----------------------------------------------------- */

#panel {
    width: 975px;
    height: 600px;
    position: absolute;
    top: 0px;
    left: 0px;
    border: 1px solid steelblue;
    z-index: 0;
}

#add_node {
    width: 35px;
    height: 20px;
    position: absolute;
    top:300px;
    left: 8px;

    z-index: 1;
}

#dropdownMenuButton {
    background-color: #6d7fcc;
    color: white;
}

#dropdownMenuButton:hover,
#dropdownMenuButton:focus {
    background-color: white;
    color: #6d7fcc;
}

#add_even_odd {
    width: 35px;
    position: absolute;
    min-width: 3.7rem;
    padding: .5rem 0;
}

#add_even {
    width: 35px;
    height: 30px;
    padding: .1rem 0.5rem;
}

#add_odd {
    width: 35px;
    height: 30px;
    padding: .1rem 0.5rem;
}

#speed_controller {
    top: 22px;
    left: 68px;
    position: absolute;
}

/* ---------------------------------------------------
    STEP AREA
----------------------------------------------------- */
#steps {
    height: 600px;
    position: absolute;
    left: 974px;
    width: 326px;
    z-index: 5;
    border: 1px solid steelblue;
    top: 0px;
    overflow: scroll;
}

/*.list-group-item {*/
/*    background-color: #6d7fcc;*/
/*    color: white;*/
/*}*/

.list-group-item:hover,
.list-group-item:focus {
    background-color: lightgrey;
    /*color: #6d7fcc;*/
}